{% extends 'layout/base.html' %}

{% block content %}


<h1>
  Bienvenido a (usuario) a la aplicacion de turnos.
</h1>

{{ turno.as_p }}

<div id="wrapper" style="text-align: center">
<div id="calendario">
  <header>
	<h1>Seleccionar turno disponible en el calendario:</h1>
	<h2>Noviembre 2017</h2>
  </header>
<table style='border: 1px solid #404040;'>
  <tr>
    <td>L</td>
    <td>M</td>
    <td>Mi</td>
    <td>J</td>
    <td>V</td>
    <td>S</td>
    <td>D</td>
  </tr>
  <tr>
	<td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
	<td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
  <tr>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
  <tr>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
  <tr>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
  <tr>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
  <tr>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
    <td><a href='#'>0</a></td>
  </tr>
</table>
</div>
</div>
</div>

{% endblock %}
